// variables
$primaryColor: #FFFFFF;
$secondaryColor:#1C53A6;
$accentColor: #FF961C;

$textHeroColor: #F9F9F9;
$textSubHeroColor: #CFCFCF;

$textHeadColor: #102D58;
$textBodyColor: #122036;

// styles
body{
    font-family: 'Assistant', sans-serif;

    header{
        background-color: $secondaryColor;
        height: 562px;
        border-radius: 0px 0px 105px 0px;
    }
}

.sa-navbar{
    padding: 20px 0px;

    .navbar-brand{
        img{
            width: 45px;
            height: 44.24px;
            margin-top: -7px;
        }

        span{
            font-family: 'Assistant', sans-serif;
            font-weight: 700;
            font-size: 26px;
            color: $primaryColor;
            margin-left: 10px;
        }
    }

    #navbarNav{
        .navbar-nav{
            .nav-item{

                @media screen and (max-width: 992px) {
                    margin-left: 36px;
                    z-index: 1;
                }

                .nav-link{
                    color: $primaryColor;
                    font-weight: 400;
                    font-size: 14px;
                    text-transform: uppercase;
                    margin-left: 24px;
                    transition: 0.2s color ease-in;

                    &:hover{
                        color: darken($primaryColor, 30%);
                    }
                }
            }
        }
    }
}

.hero-section{
    padding: 0px 66px;
    margin: 36px 0px;

    .bg-circle{
        position: absolute;
        top: 108px;
        left: 60px;
        height: 318px;
        // z-index: -1;

        @media screen and (max-width: 992px) {
            top: 42px;
            left: -48px;
        }

        @media screen and (max-width: 425px){
            top: 31px;
            left: -48px;
            height: 264px;
        }
    }

    h1{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 40px;
        color: $textHeroColor;
        line-height: 60px;
        text-transform: capitalize;
        margin-top: 40px;

        @media screen and (max-width: 425px) {
            line-height: 40px;
            font-size: 30px;
        }
    }

    hr{
        width: 128px;
        margin-top: -4px;
        position: absolute;
        border: 2px solid $accentColor;
    }

    p{
        margin-top: 36px;
        font-weight: 200;
        font-size: 20px;
        line-height: 26px;
        color: $textHeroColor;
    }

    a{
        margin-top: 32px;
        background-color:$accentColor;
        padding: 12px 32px;
        font-weight: 500;
        border: 0;
        border-radius: 10px;
    }

    img{
        height: 484px;
        float: right;

        @media screen and (max-width: 992px) {
            margin-top: 46px;
        }
    }

    @media screen and (max-width: 992px) {
        padding: 0px 14px;
        margin-top: -20px;


    }
}

.section-about{
    padding: 76px 0px;
    margin-top: 36px;

    img{
        margin-left: 74px;
        height: 413px;
    }

    .line{
        margin-top: -4px;
        position: absolute;
    }
}

.section-services{
    .row{
        margin-top: 39px;
        .card{
            height: 200px;

            background: #FFFFFF;
            box-shadow: 8px 16px 32px rgba(228, 228, 228, 0.28);
            border-radius: 20px;
            border: none;

            &:hover{
                background: #FF961C;
                box-shadow: 8px 16px 32px rgba(255, 150, 28, 0.28);
                border-radius: 20px;
            }

            .card-body{
                padding: 26px 24px;
            }

            h4{
                font-weight: 600;
                font-size: 24px;
                line-height: 31px;
                display: flex;
                align-items: center;
                text-transform: uppercase;

                margin-top: 16px;

                color: $textHeadColor;
            }

            p{
                font-weight: 300;
                font-size: 18px;
                line-height: 24px;
                display: flex;
                align-items: center;

                color: $textBodyColor;
            }
        }

        .cta{
            height: 141px;
            width: 100%;
            margin: 56px auto;

            background: $accentColor;

            color: $textHeroColor;
        }
    }
}

.section-works{

    margin-bottom: 400px;

    .line{
        position: absolute;
        margin-top: -4px;
    }

    .carousel{
        margin-top: 36px;
        height: 358px;
        padding: 30px;

        .carousel-indicators{
            bottom: -116px;

            li{
                border-radius: 20px;
                width: 15px;
                height: 15px;
                background-color: #F5F5F5;
            }

            .active {
                background-color: $accentColor;
            }
        }

        .carousel-inner{

            .carousel-item{
                .row{
                    margin-top: 46px;

                    h3{
                        font-style: normal;
                        font-weight: 600;
                        font-size: 26px;
                        line-height: 35px;
                        margin-bottom: 16px;
                    }
                }
            }

        }


        @media screen and (max-width: 768px) {
            margin-bottom: 184px;
        }
    }

    .carousel-control-prev{
        left: -58px;

        .carousel-control-prev-icon {
            background-image: url('/assets/images/ic_arrow_left.svg') !important;
            width: 50px;
            height: 50px;
        }
    }

    .carousel-control-next{
        right: -58px;

        .carousel-control-next-icon {
            background-image: url('/assets/images/ic_arrow_right.svg') !important;
            width: 50px;
            height: 50px;
        }
    }
}

.section-skiils{
    margin-top: 268px;

    .line{
        position: absolute;
        margin-top: -4px;
    }

    img{
        margin-top: -150px;

        @media screen and (max-width: 992px) {
            margin-top: -102px;
        }

        @media screen and (max-width: 768px) {
            margin-top: 50px;
            width: 460px;
        }
    }
}


.section-learn{
    margin-top: 123px;

    img{
        margin-top: 56px;
    }
}

.hero-work{
    .title{
        color: $textHeroColor;
        font-size: 40px;
    }

    .nav{
        .nav-item{
            margin-top: 36px;
            margin-right: 45px;
        }

        .nav-link{
            color: $textHeroColor;
            font-size: 26px;
            font-weight: 600;

            padding:0px;
            margin-bottom: 16px;
        }

        .active{
            border-bottom: 4px solid $accentColor;
            line-height: 1.65;
            border-radius: 0;
        }
    }
}

.section-list-works{
    margin-top: -220px;

    .card{
        border-radius: 20px;
        border: none;
    }

    .thumbnail-work{
        background: #F5F5F5;
        border-radius: 20px;
        border: none;
    }
}

.title{
    margin-top: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 54px;
    color: $textHeadColor;
}

.line{
    width: 128px;
    margin-top: -4px;
    border: 2px solid $accentColor;
}

.description{
    margin-top: 20px;
    font-weight: normal;
    font-size: 26px;
    line-height: 34px;
}

.cta{
    height: 141px;
    width: 100%;
    margin-top: 97px;
    margin-bottom: -68px;

    background: $accentColor;
    border-radius: 20px;

    color: $textHeroColor;

    .card-body{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 74px;
    }

    .btn-outline{
        color: $textHeroColor;
        font-weight: 600;
        background-color: transparent;
        border: 2px solid $textHeroColor;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 13px 32px;
    }
}

.sa-button{
    margin-top: 32px;
    background-color:$accentColor;
    padding: 12px 32px;
    font-weight: 500;
    border: 0;
    border-radius: 10px;

    transition: 0.2s background-color ease-in;

    &:hover{
        background-color: lighten($accentColor, 10%);
    }

    &:active{
        background-color: lighten($accentColor, 10%) !important;
        outline: none !important;
    }

    &:visited{
        background-color:$accentColor;
    }
}


footer{
    height: 480px;
    background-image: url('/assets/images/elipse.png');
    background-repeat: no-repeat;
    background-position-y: 220px;
    background-position-x: right;
    background-color: $textHeadColor;
    // color: $textHeroColor;
    .row{

        .logo{
            margin-top: 180px;
            margin-left: -12px;
            margin-bottom: 26px;
            height: 65px;
            width: 65px;

        }

        p{
            font-size: 20px;
            font-weight: 400px;
            color: $textHeroColor;
            margin-left: -10px;
        }

        p:nth-child(3) {
            color: $textSubHeroColor;
        }

        .linked{
            .row{
                margin-top: 295px;
                margin-right: 40px;
                float: right;
            }
        }
    }
}

.logo{
    width: 40px;
    height: 40px;
    margin-bottom: 16px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(160, 160, 160, 0.247);
    /* background: rgb(199, 199, 199); */
}

::-webkit-scrollbar-thumb {
    background: #a0a0a0;
    border-radius: 40px;
}


@media screen and (max-width: 768px) {
    // body{
    //     display: none;
    // }
}

